# Dependencies
node_modules/
package-lock.json

# Build files
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Tailwind CLI binary
tailwindcss-linux-x64
tailwindcss-macos-arm64
tailwindcss-macos-x64
tailwindcss-windows-x64.exe

# Environment variables
.env
.env.local
.backup
